@model Guid

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>Hallo
    <input value="anonymous"/>
    schön dass du da bist.
</div>

Wann soll denn das Konzert stattfinden?
<br/>
<input class="" type="date"/>

Von 8 - 9 abends
<br/>
@Model
