@{
    ViewBag.Title = "Meiesinge?";
}
<h2>@ViewBag.Title</h2>

<p>
    Nein, Meiesinge heisst nicht, dass man zu Blumen singt, sondern es
    ist ein alter Sensler Heischebrauch der Kinder, früher auch der ledigen Männer und Frauen.
    Sie gehen am 1. Mai von Tür zu Tür und singen den Leuten meist Mai- und Frühlingslieder
    vor. Dafür hat es früher oft Eier, Dörrbirnen oder Gebäck gegeben, heute vor allem Geld.
    Viele sagen, dass die Liederauswahl und Singqualität der Kinder schlecht geworden sei,
    aber es hat wohl zu allen Zeiten bessere und weniger gute Sänger gegeben. Ende des 19.
    Jahrhunderts nannte man den Brauch spöttisch Maiheulen oder Maibrüllen und wollte ihn gar
    verbieten.
</p>

<p>
    Quelle: <a href="http://www.senslermuseum.ch/jmuffin/upload/w%C3%B6rter%20des%20monats_Archiv_02.13.pdf">Senslermueseum</a>
</p>
    Und da heute schönes Wetter ist ein Link zu einem <a href="https://books.google.ch/books?id=RzWRTgOrkywC&pg=PA54&lpg=PA54&dq=meiesinge&source=bl&ots=Pj4kWnTkHh&sig=Hy773LBtDE80NbdDKMUGCr6WRyc&hl=de&sa=X&ved=0ahUKEwiLg4zDt6XOAhUBvhQKHexTDvIQ6AEIMTAE">Buch</a>

