@{
    ViewBag.Title = "Meiesinge";
}

<div class="jumbotron">
    <h1>Meiesinge</h1>
    <p class="lead">Meiesinge ist was es immer war.</p>
    <p>
        @Html.ActionLink("Erfahre Mehr \u00BB", "About", "Home", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Du wurdest eingeladen?</h2>
        <p>
            Meiesinge kann man nur auf Einladung und du hast eine? Fantastisch! Na dann los!
        </p>
        <p>
            @Html.ActionLink("Erfahre Mehr \u00BB", "Invitee", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Du wurdest NICHT eingeladen?</h2>
        <p>Schade! Aber noch ist ja nicht aller Tage Abend.</p>
        <p>
            @Html.ActionLink("Erfahre Mehr \u00BB", "TODO", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Spenden</h2>
        <p>Du willst spenden oder am Projekt mitmachen?</p>
        <p>
            @Html.ActionLink("Erfahre Mehr \u00BB", "TODO", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>