@using Meiesinge.WebClient.Models
@model Meiesinge.WebClient.Models.LoginViewModel
@{
    ViewBag.Title = "Log in? Meiesing!";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel {ReturnUrl = ViewBag.ReturnUrl})
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}